{% extends 'home/index.html' %}
{% load static %}
{% block my_inventory_title %}Costomer Create{% endblock %}

{% block my_inventory_header %}
    <!-- Masthead-->
    <header class="masthead" style="background-image: url('/static/home/assets/img/client.jpg')">
        <div class="container">
            <div class="masthead-subheading">Mi Inventario CoderHouse</div>
            <div class="masthead-heading text-uppercase">Registrar nuevo Cliente</div>
        </div>
    </header>
{% endblock %}

{% block my_inventory_content %}
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                <div class="mb-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Guardar curso" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endblock  %}